@charset "utf-8";

body {
    margin: 0;
    text-align: center;
    font-family: 'Helvetica, Arial, sans-serif';
}

header {
    margin-top: 10px;
}

main>h1 {
    padding-top: 20px;
}

main>p {
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

li:not(:last-child) {
    border-right: 1px solid black;
}

main>p{
    
}


a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
}


a:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}
footer>p{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer {
    text-align: center;
    background-color: grey;
}

footer>h2 {
    margin: 0;
}

footer>p,
footer>p>a {
    background-color: lightgrey;
    margin: 0;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    li {
        border-right: none;
        width: 100%;
        text-align: center;
    }

    input, select {
        width: 90%;
    }

    fieldset {
        width: 90%;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin: 10px 0;
    }
}